header{
    background-color: red;
    color: white;
    text-align: center;
    height: auto;
    padding: 15px;
}

header #titre{
    padding: 10px 30px;
    width: 70%;
    border:none;
    font-size: 15px;
}

header #submitTitre{
    padding: 10px 30px;
    border:none;
    margin: auto;
    background-color: rgb(218, 215, 215);
    color: rgb(79, 79, 79);
}

ul{
    padding: 10px 30px;
    border:none;
    margin: auto;
    justify-content: space-between;
}


ul li{
    background-color: rgb(221, 216, 216);
    list-style: none;
    padding: 10px 30px;
    border:none;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

ul li:nth-child(odd) {
    background: #f9f9f9;
  }

ul li.tacheOk{
    background-color: rgb(77, 77, 77);
    color: white;
    text-decoration: line-through;
}

.close{
    cursor: pointer;
}
.close:hover{
    background-color: red;
}

